@import url("https://fonts.googleapis.com/css2?family=Halant:wght@400;500&family=Oleo+Script&display=swap");

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  font-family: 'Halant', serif;
  font-size: 1.5rem;
  color: rgb(233, 3, 118);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem;
  
}

h1 {
  font-size: 3rem;
  font-family: "Oleo Script", cursive;
  text-shadow: 2px 2px rgb(248, 246, 248);
}

h4{
  margin-top: 0;
  text-shadow: 2px 2px rgb(248, 246, 248);
}

h3 {
  
  text-shadow: 1px 1px rgb(255, 167, 211);
  margin-top: 0;
}

#input {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  color: rgb(223, 4, 106);
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Halant', serif;
  font-weight: 600;
  border: 2px solid rgb(240, 191, 215);
}

#btn {
  cursor: pointer;
  border-radius: 8px;
  border:2px solid rgb(240, 191, 215);
  background-color: rgb(252, 216, 222);
  color: rgb(235, 4, 112);
  font-size: 1.8rem;
  margin: 1rem;
  padding: 0.4rem 1rem;
  font-family: "Oleo Script", cursive;
}

#btn:hover{
box-shadow: 2px 2px rgb(252, 127, 148);
}


/* footer */

footer{
  position: absolute;
  bottom:0px;
  padding-left: 3rem;
}

img{
  padding-left: 5px;
  width: 25%;
}

.copy-right{
  font-size: 1rem;
  font-weight: 600;
  color: #fc236c;
  padding-left: 1rem;
}